<launch>
<arg name="marker_pattern_list" value="$(find people_detection_vision)/data/artoolkit/markers.dat"/>

<node pkg="usb_cam" type="usb_cam_node" name="camera" output="screen">
    <param name="pixel_format" value="yuyv" />
<!--
        <param name="video_device" value="$(arg device)" />
-->
  </node>

<!--
  <node pkg="image_view" type="image_view" name="image_view"
        output="screen" args="image:=/camera/image_raw"/>
-->
  <group ns="camera">
    <node pkg="image_proc" type="image_proc" name="image_proc" output="screen"/>
  </group>

  <node pkg="rviz" type="rviz" name="rviz"
    args="-d $(find ar_pose)/launch/live_multi.rviz"/>

  <node pkg="tf" type="static_transform_publisher" name="world_to_cam"
    args="0 0 0.5 -1.57 0 -1.57 world camera 1" />

  <node name="ar_pose" pkg="ar_pose" type="ar_multi" respawn="false"
    output="screen"
    >
<!--
    launch-prefix="valgrind"
    <param name="marker_pattern_list" type="string"
      value="$(find ar_pose)/data/object_4x4"/>
-->
    <param name="marker_pattern_list" value="$(arg marker_pattern_list)"/>
    <param name="threshold" type="int" value="100"/>
  </node>
</launch>
